[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = https://github.com/OCA/product-attribute
	branch = 15.0

[submodule "OCA/social"]
	path = OCA/social
	url = https://github.com/OCA/social
	branch = 15.0

[submodule "OCA/crm"]
	path = OCA/crm
	url = https://github.com/OCA/crm
	branch = 15.0

[submodule "OCA/stock-logistics-workflow"]
	path = OCA/stock-logistics-workflow
	url = https://github.com/OCA/stock-logistics-workflow
	branch = 15.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = https://github.com/OCA/account-financial-tools
	branch = 15.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = https://github.com/OCA/server-ux
	branch = 15.0

[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = https://github.com/OCA/purchase-workflow
	branch = 15.0

[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = https://github.com/OCA/sale-workflow
	branch = 15.0

[submodule "OCA/account-invoice-reporting"]
	path = OCA/account-invoice-reporting
	url = https://github.com/OCA/account-invoice-reporting
	branch = 15.0

[submodule "luxeautocustom/odoo_themes"]
	path = luxeautocustom/odoo_themes
	url = https://github.com/luxeautocustom/odoo_themes
	branch = main

[submodule "OCA/e-commerce"]
	path = OCA/e-commerce
	url = https://github.com/OCA/e-commerce
	branch = 15.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = https://github.com/OCA/partner-contact
	branch = 15.0
